.signup-btn {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  border: 2px solid white;
  color: white;
}
.signup-btn:hover {
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.left-signup {
  background: url("frontend/src/assets/signup/bg.png");
}
